<div th:fragment="navbar">
  <nav class="navbar">
    <div class="navbar-left">
      <img class="logo" th:src="@{/images/logo-white.png}" alt="Logo">
      <a class="brand" th:href="@{/}">Apes</a>
    </div>
    <ul>
      <li><a th:href="@{/}" th:text="#{view.nav.home}">Home</a></li>
      <li><a th:href="@{/about}" th:text="#{view.nav.about}">About</a></li>
      <li sec:authorize="!isAuthenticated()">
        <form th:action="@{/sign-in}" method="get">
          <button type="submit" th:text="#{view.nav.sign-in}">Sign In</button>
        </form>
      </li>
      <li sec:authorize="isAuthenticated()">
        <form th:action="@{/sign-out}" method="post">
          <button type="submit" th:text="#{view.nav.sign-out}">Sign Out</button>
        </form>
      </li>
    </ul>
  </nav>
</div>