<div th:fragment="navbar">
  <nav class="navbar">
    <div class="navbar-left">
      <img class="logo" th:src="@{/images/logo-white.png}" alt="Logo">
      <a class="brand" th:href="@{/}">Apes</a>
    </div>
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/about}">About</a></li>
      <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Sign In</a></li>
      <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Sign Out</a></li>
    </ul>
  </nav>
</div>