.navbar {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    max-width: 2.5rem;
    height: auto;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: Anton, sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #1abc9c;
}

.navbar ul li form button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.navbar ul li form button:hover {
    color: #1abc9c;
}